# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# maafw
interface.json
!projects/**/interface.json
mxu.json
/docs/mp4s
/projects/golden_spatula_mumu/analysis/video
/projects/golden_spatula_mumu/samples
docs/mmors/金铲铲之战_2.mmor
/.tmp
/docs/mmors
/scripts/fixtures/golden-spatula-augment-presence-video4-audit-run2
/scripts/fixtures
/tmp_event_review/special_event_1000_validation
/tmp_event_review/special_event_2000_validation
/tmp_event_review/special_event_5000_validation
/tmp_event_review/special_event_500_validation
/tmp_event_review
